In [1]:
import pandas as pd

df = pd.read_csv("29286875.csv") #, parse_dates=[0])
# print(df1)

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
# change the column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head(n=3)

,id,drone_type,post_type,package_weight,origin_region,destination_region,origin_latitude,origin_longitude,destination_latitude,destination_longitude,journey_distance,departure_date,departure_time,travel_time,delivery_time,delivery_fare
0,ID5174772222,2.0,1.0,43.632,47.0,3.0,-37.355446,145.140356,-36.683571,147.271147,203.610,2018-03-24,03:47:54,163.99,6:31:53,187.16
1,ID1302741470,2.0,0.0,14.230,42.0,45.0,-38.029425,146.072856,-38.880642,145.089798,127.756,2018-04-01,19:00:04,105.65,20:45:43,132.04
2,ID1271333154,1.0,0.0,31.700,19.0,8.0,-38.467031,144.056414,-37.882256,147.344381,294.983,2018-04-27,01:05:05,240.38,5:05:27,122.90

In [3]:
df.isnull().sum()

id                       25
drone_type               10
post_type                20
package_weight            0
origin_region            10
destination_region       10
origin_latitude           0
origin_longitude          0
destination_latitude      0
destination_longitude     0
journey_distance          0
departure_date            0
departure_time            0
travel_time              40
delivery_time             0
delivery_fare            30
dtype: int64

In [4]:
posttype_df = pd.DataFrame(df[['post_type', 'departure_time', 'delivery_fare']], columns=['post_type', 'departure_time', 'delivery_fare'])
posttype_df #.between_time('06:00:00', '11:59:59')

       post_type departure_time  delivery_fare
0            1.0       03:47:54         187.16
1            0.0       19:00:04         132.04
2            0.0       01:05:05         122.90
3            1.0       16:12:11         170.52
4            1.0       01:14:37         139.68
5            1.0       01:42:57         190.62
6            0.0       08:23:32         155.92
7            0.0       12:55:01         108.36
8            0.0       05:23:21         119.50
9            0.0       09:23:21          83.82
10           0.0       02:30:20         201.81
11           0.0       01:12:03         199.03
12           0.0       22:42:30         121.98
13           0.0       08:54:12         158.61
14           0.0       18:04:40         156.55
15           0.0       11:51:04          96.35
16           0.0       18:49:45         140.64
17           0.0       07:44:34          75.18
18           0.0       01:14:50         192.77
19           1.0       18:17:19         121.17
20           0.0       13:08:24          97.98
21           1.0       18:29:20         170.95
22           1.0       20:35:54         224.27
23           0.0       01:24:44         113.32
24           0.0       17:00:08          98.44
25           0.0       08:14:05          84.13
26           0.0       00:33:50         115.12
27           1.0       07:35:56         212.53
28           1.0       19:54:16         204.13
29           1.0       20:05:15         126.27
...          ...            ...            ...
39083        1.0       08:54:45         160.17
39084        0.0       20:51:18         201.16
39085        0.0       14:43:01         134.31
39086        0.0       05:28:09         170.26
39087        0.0       00:16:35         113.42
39088        0.0       15:24:23         148.37
39089        0.0       06:40:51         131.72
39090        0.0       08:29:35         144.97
39091        0.0       01:13:22         126.77
39092        0.0       13:46:25         102.02
39093        0.0       17:31:04         126.99
39094        1.0       01:27:22         151.88
39095        1.0       15:47:46         138.50
39096        0.0       18:08:41          92.23
39097        0.0       22:47:34         186.75
39098        0.0       13:43:48          99.57
39099        0.0       15:13:49         136.37
39100        0.0       11:49:46          90.27
39101        1.0       02:30:52         190.68
39102        0.0       19:28:31         177.37
39103        0.0       14:40:45         135.41
39104        0.0       08:56:35          79.98
39105        1.0       19:21:52         158.94
39106        0.0       14:48:10         110.64
39107        0.0       12:24:43         110.15
39108        0.0       10:04:35         115.41
39109        1.0       20:05:32         165.43
39110        0.0       18:06:29         171.88
39111        1.0       12:17:33         143.08
39112        0.0       20:57:26         175.26

[39113 rows x 3 columns]

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# posttype_df.set_index('departure_time', inplace=True)
# posttype_df

In [7]:
# make 'departure_time' as index and convert index type to DatetimeIndex
posttype_df.set_index('departure_time', inplace=True)
posttype_df.index = pd.to_datetime(posttype_df.index)

In [8]:
morning_df = posttype_df.between_time('06:00:00', '11:59:59')
afternoon_df = posttype_df.between_time('12:00:00', '20:59:59')
night_df = posttype_df.between_time('21:00:00', '05:59:59')

In [9]:
# morning departure time v.s. fare
morning_df.groupby('post_type')[['delivery_fare']].mean()

           delivery_fare
post_type
0.0           117.316884
1.0           150.408455

In [10]:
# afternoon departure time v.s. fare
afternoon_df.groupby('post_type')[['delivery_fare']].mean()

           delivery_fare
post_type
0.0           131.161694
1.0           164.215382

In [11]:
# night departure time v.s. fare
night_df.groupby('post_type')[['delivery_fare']].mean()

           delivery_fare
post_type
0.0           146.238157
1.0           179.450066

In [12]:
df[df['post_type'].isnull()]

,id,drone_type,post_type,package_weight,origin_region,destination_region,origin_latitude,origin_longitude,destination_latitude,destination_longitude,journey_distance,departure_date,departure_time,travel_time,delivery_time,delivery_fare
115,ID1852246772,3.0,NaN,12.998,6.0,1.0,-37.496575,146.108473,-38.319325,145.097024,127.590,2018-01-03,18:10:25,104.12,19:54:32,165.59
2159,ID1785529813,2.0,NaN,35.233,35.0,28.0,-36.602373,145.040889,-37.214231,144.626783,77.444,2018-06-07,06:56:46,66.94,8:03:42,115.12
2162,ID1568250570,2.0,NaN,45.646,30.0,46.0,-38.474582,143.041899,-37.252913,145.666426,267.738,2018-04-02,15:21:47,213.32,18:55:06,146.12
2169,ID5497260874,1.0,NaN,15.272,40.0,3.0,-38.200994,147.921987,-36.581580,147.370130,186.758,2018-01-22,19:23:03,154.94,21:57:59,135.55
6269,ID1312459167,2.0,NaN,34.837,30.0,1.0,-38.495294,143.373581,-38.363880,145.175457,157.805,2018-01-22,05:21:34,128.76,7:30:19,146.63
6574,ID1853913832,1.0,NaN,14.033,11.0,43.0,-37.683859,144.185968,-37.989322,144.682158,55.309,2018-03-17,17:55:01,51.17,18:46:11,90.27
8305,ID5747414254,1.0,NaN,20.025,35.0,4.0,-36.685703,145.149946,-37.874320,144.961265,133.365,2018-06-13,18:28:11,112.79,20:20:58,124.53
12417,ID1935362791,2.0,NaN,42.363,41.0,22.0,-38.003245,142.791065,-38.554841,146.017123,288.499,2018-06-03,02:09:01,229.29,5:58:18,161.93
18558,ID1434329411,1.0,NaN,22.704,49.0,25.0,-38.194913,143.623677,-37.757704,145.681611,187.017,2018-02-05,20:02:50,155.15,22:37:59,100.43
18562,ID1716950597,3.0,NaN,16.031,33.0,7.0,-36.577901,143.726564,-37.506898,147.714923,369.120,2018-01-04,01:39:29,287.56,6:27:02,201.16
18576,ID1719354363,2.0,NaN,14.170,19.0,49.0,-38.274257,144.149694,-38.185815,143.675201,42.643,2018-03-20,22:16:23,40.17,22:56:33,140.69
20625,ID5323561829,2.0,NaN,26.432,42.0,22.0,-38.131049,145.758901,-38.475368,145.911234,40.573,2018-07-19,12:18:54,38.58,12:57:28,154.03
22646,ID5232065911,2.0,NaN,15.859,45.0,44.0,-38.824757,145.148368,-36.906831,147.283287,284.201,2018-03-24,05:36:01,225.99,9:22:00,188.32
22668,ID1403359314,1.0,NaN,22.848,50.0,36.0,-38.888743,142.964067,-37.636687,146.867948,368.541,2018-06-23,21:30:36,298.45,2:29:02,130.52
24708,ID5894795664,2.0,NaN,44.985,3.0,12.0,-36.530578,147.066310,-37.587460,143.228246,360.639,2018-06-01,22:04:28,284.79,2:49:15,204.98
26302,ID1727022053,2.0,NaN,7.424,33.0,23.0,-36.587035,143.912567,-38.830536,145.639049,292.368,2018-01-04,18:19:19,232.27,22:11:35,145.55
26762,ID5406705282,2.0,NaN,41.134,4.0,5.0,-37.686308,145.174160,-37.041191,146.039927,104.996,2018-02-04,03:05:52,88.14,4:34:00,178.18
28813,ID1804020663,3.0,NaN,23.874,44.0,47.0,-36.884151,147.220865,-37.531637,144.930470,215.467,2018-06-21,07:34:17,170.86,10:25:08,157.72
30866,ID1793585911,1.0,NaN,12.193,42.0,37.0,-37.883412,145.852621,-36.557359,146.505283,158.544,2018-02-09,12:59:20,132.67,15:12:00,99.74
34953,ID5246322947,1.0,NaN,13.760,25.0,11.0,-37.790976,145.687552,-37.746115,143.995499,148.974,2018-06-26,17:54:31,125.11,19:59:37,135.95

In [13]:
# replace NaN value with the correct one
df.loc[115,'post_type'] = 1.0

In [14]:
df.isnull().sum()

id                       25
drone_type               10
post_type                19
package_weight            0
origin_region            10
destination_region       10
origin_latitude           0
origin_longitude          0
destination_latitude      0
destination_longitude     0
journey_distance          0
departure_date            0
departure_time            0
travel_time              40
delivery_time             0
delivery_fare            30
dtype: int64

In [15]:
df[df['post_type'].isnull()]

,id,drone_type,post_type,package_weight,origin_region,destination_region,origin_latitude,origin_longitude,destination_latitude,destination_longitude,journey_distance,departure_date,departure_time,travel_time,delivery_time,delivery_fare
2159,ID1785529813,2.0,NaN,35.233,35.0,28.0,-36.602373,145.040889,-37.214231,144.626783,77.444,2018-06-07,06:56:46,66.94,8:03:42,115.12
2162,ID1568250570,2.0,NaN,45.646,30.0,46.0,-38.474582,143.041899,-37.252913,145.666426,267.738,2018-04-02,15:21:47,213.32,18:55:06,146.12
2169,ID5497260874,1.0,NaN,15.272,40.0,3.0,-38.200994,147.921987,-36.581580,147.370130,186.758,2018-01-22,19:23:03,154.94,21:57:59,135.55
6269,ID1312459167,2.0,NaN,34.837,30.0,1.0,-38.495294,143.373581,-38.363880,145.175457,157.805,2018-01-22,05:21:34,128.76,7:30:19,146.63
6574,ID1853913832,1.0,NaN,14.033,11.0,43.0,-37.683859,144.185968,-37.989322,144.682158,55.309,2018-03-17,17:55:01,51.17,18:46:11,90.27
8305,ID5747414254,1.0,NaN,20.025,35.0,4.0,-36.685703,145.149946,-37.874320,144.961265,133.365,2018-06-13,18:28:11,112.79,20:20:58,124.53
12417,ID1935362791,2.0,NaN,42.363,41.0,22.0,-38.003245,142.791065,-38.554841,146.017123,288.499,2018-06-03,02:09:01,229.29,5:58:18,161.93
18558,ID1434329411,1.0,NaN,22.704,49.0,25.0,-38.194913,143.623677,-37.757704,145.681611,187.017,2018-02-05,20:02:50,155.15,22:37:59,100.43
18562,ID1716950597,3.0,NaN,16.031,33.0,7.0,-36.577901,143.726564,-37.506898,147.714923,369.120,2018-01-04,01:39:29,287.56,6:27:02,201.16
18576,ID1719354363,2.0,NaN,14.170,19.0,49.0,-38.274257,144.149694,-38.185815,143.675201,42.643,2018-03-20,22:16:23,40.17,22:56:33,140.69
20625,ID5323561829,2.0,NaN,26.432,42.0,22.0,-38.131049,145.758901,-38.475368,145.911234,40.573,2018-07-19,12:18:54,38.58,12:57:28,154.03
22646,ID5232065911,2.0,NaN,15.859,45.0,44.0,-38.824757,145.148368,-36.906831,147.283287,284.201,2018-03-24,05:36:01,225.99,9:22:00,188.32
22668,ID1403359314,1.0,NaN,22.848,50.0,36.0,-38.888743,142.964067,-37.636687,146.867948,368.541,2018-06-23,21:30:36,298.45,2:29:02,130.52
24708,ID5894795664,2.0,NaN,44.985,3.0,12.0,-36.530578,147.066310,-37.587460,143.228246,360.639,2018-06-01,22:04:28,284.79,2:49:15,204.98
26302,ID1727022053,2.0,NaN,7.424,33.0,23.0,-36.587035,143.912567,-38.830536,145.639049,292.368,2018-01-04,18:19:19,232.27,22:11:35,145.55
26762,ID5406705282,2.0,NaN,41.134,4.0,5.0,-37.686308,145.174160,-37.041191,146.039927,104.996,2018-02-04,03:05:52,88.14,4:34:00,178.18
28813,ID1804020663,3.0,NaN,23.874,44.0,47.0,-36.884151,147.220865,-37.531637,144.930470,215.467,2018-06-21,07:34:17,170.86,10:25:08,157.72
30866,ID1793585911,1.0,NaN,12.193,42.0,37.0,-37.883412,145.852621,-36.557359,146.505283,158.544,2018-02-09,12:59:20,132.67,15:12:00,99.74
34953,ID5246322947,1.0,NaN,13.760,25.0,11.0,-37.790976,145.687552,-37.746115,143.995499,148.974,2018-06-26,17:54:31,125.11,19:59:37,135.95